<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmek</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>
        <% for(i=6;i>0;i--) {%>
        <a href="/<%= Number(year) - i %>"><%= Number(year) - i %></a>
        <% } %>
        | Movies from <%= year %> | 
        <% for(i=1;i<6;i++) { %>
        <a href="/<%= Number(year) + i %>"><%= Number(year) + i%></a>
        <% } %>
    </h1>
    <div class="c">
    <% v.forEach(x => {%>
        <div class="f">
        <h1><%= x.title %> (<%= x.year %>)</h1>
        <img src='<%= x.poster %>'>
        </div>
    <% }) %>
    </div>
</body>
</html>